/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#heading{
    justify-content: center;
    display: flex;
    color: white;
    font-size: 44px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.top{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    
}
.top button{
    margin-left: 5px;
    width: 90px;
    background-color: #026600;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#input{
    width: 25%;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
}
.bottom{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 25px;
    
}

.bottom label{
    width: 120px;
    font-size: 24px;
    color: white;
    margin: 5px;
}

.btm-items{
    width: 25px;
    height: 25px;
    margin: 5px;
}

#range{
    width: 75px;
    height: 28px;
    margin: 5px;
    cursor: pointer;
}

.popup{
    width: 12px;
}